<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title></title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />

		<!--[if lte IE 8]>
			<script src="/scripts/libs/json2.js"></script>
			<script src="/scripts/libs/html5shiv-printshiv.js"></script>
		<![endif]-->

		<% if (config.environment === 'prod') { %>
			<link rel="stylesheet" href="/styles/styles.min.css" />
			<script src="/scripts/scripts.min.js"></script>
		<% } else { %>
			<link rel="stylesheet" href="/styles/styles.css" />
			<script data-main="/scripts/main.js" src="/scripts/libs/require.js"></script>
		<% } %>
	</head>
	<body>
		<div class="container">
			<h1>Congrats!</h1>
			<p>You're up and running in <%= config.environment %>!</p>
		</div>
	</body>
</html>